{% extends 'base.html' %}
{% block content %}
<div class="article-heading">
    <h1><a href="{{ article.link|e}}">{{ article.text|e }}</a></h1>
    <span class="details">{{ article.owner|e }} {{ article.time_since_post()|e}}</span>
</div>
<form method="post">
    <textarea name="comment_text" 
        placeholder="Post your thoughts"
        rows="3" cols="60"></textarea>
    <input type="submit" value="Post">
</form>
    {% for comment in comments %}
        {% include 'comment.html' %}
    {% endfor %}
{% endblock %}
